@import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');
.title {
  font-weight: 300;
  font-size: 30px;
  color: #676f8f;
  font-style: normal;
}

.span {
    color: #ef3340;
}

.subtitle {
    font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #676F8F;

}
