@import url("https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap");
.title {
  font-weight: 300;
  font-size: 30px;
  color: #676f8f;
  font-style: normal;
}

.span {
  color: #ef3340;
}

.name-list {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;

  color: #494f66;
}

.dni-list {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #676f8f;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #676f8f;
}

.second-subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #676f8f;
}

.third-subtitle {
  color: #494f66;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
}
.margin {
  border-top: 1px solid #edeff5;
  border-bottom: 1px solid #edeff5;
}

.center-height {
  padding-top: 30px;
}
