.formsign {
    width: 80%;
    margin-left: 10%;
    box-sizing: border-box;
    color: #A9B1D1;
    font-size: 12px;
    font-weight: 100;

    &__title{
        font-size: 25px;
        color: #494F66;
        font-weight: 350;
        margin-bottom: 10px;

        &--span{
            color: #EF3340;
        }
    }

    &__ingrese{
        margin-bottom: 20px;
        font-size: 15px;
        color: #676F8F;
    }

    &__button{
        background-color: #EF3340;
        border: none;
        border-radius: 4px;
        color: white;
        padding: 20px;
        width: 100%;
        font-family: 'Lato';
        letter-spacing: 0.8px;
        margin: 10px 0 30px;

    }
    &__inputfloat{
        box-sizing: border-box;
        align-content: center;
        color: #A9B1D1;
        font-size: 16px;
        margin: 15px 0;
    
        &--input{
            border-radius: 5px;
            padding: 30px 20px 10px 20px;
            width: 100%;
            outline: none;
            border: 1px solid #D4D5E8;
            box-sizing: border-box;
            color: #494F66;
            margin: 0;
            font-family: 'Lato';
        }
    
        &--input:disabled {
            background-color: #F7F7FA;
        }
    
        &--label{
            position: absolute;
            left: 8%;
            transition: .5s;
            padding: 20px;
            pointer-events: none;
            font-family: 'Roboto';
        }
        
        &--input:focus ~ &--label,
        &--input:valid ~ &--label{ 
            padding: 8px 0 0 20px;
            font-size: 12px;
        }
    }
}
@media (min-width: 768px){
    .formsign{
        width: 19%;
        float: right;
        margin-right: 15%;
        padding-top: 80px;

        &__inputfloat{
            &--label{
                left: 66%;
            }
        }
    }
  }
