@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
body {
  font-family: 'Lato', sans-serif;
}

@font-face{
  font-display: swap;
  font-family: 'Lato', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Lato&display=swap');
}
